.vscode/**
.vscode-test/**
src/**
**/*.map
**/*.ts
!out/**/*.js
tsconfig.json
.eslintrc.json
.gitignore
.editorconfig
node_modules/.bin/**
node_modules/typescript/**
node_modules/@types/**
node_modules/@vscode/**
node_modules/vsce/**
node_modules/keytar/**
**/.DS_Store
**/.gitkeep
**/tsconfig.tsbuildinfo
package-lock.json
